# SPDX-License-Identifier: Apache-2.0
#
# Copyright 2024 Loongson Technology Corporation Limited
#

if ARCH_LOONGARCH

choice
	prompt "LoongArch Toolchain Selection"
	default LOONGARCH_TOOLCHAIN_GNU

config LOONGARCH_TOOLCHAIN_GNU
	bool "Generic GNU toolchain"
	select ARCH_TOOLCHAIN_GCC
	---help---
		This option should work for any modern GNU toolchain (GCC 5.2 or newer)
		configured for loongarch64-unknown-elf.

endchoice # LoongArch Toolchain Selection

choice
	prompt "LoongArch Chip Selection"
	default ARCH_CHIP_LS2K0300
	depends on ARCH_LOONGARCH

config ARCH_CHIP_LS2K0300
	bool "LS2K0300"
	select ARCH_HAVE_DPFPU
	select LS_HAVE_I2C0
	select LS_HAVE_I2C1
	select LS_HAVE_I2C2
	select LS_HAVE_I2C3
	select LS_HAVE_TIM1
	select LS_HAVE_TIM2
	select LS_HAVE_TIM6
	select LS_HAVE_DMA1
	select LS_HAVE_ADC1
	select LS_HAVE_COMMON_FOC
	select LS_HAVE_IP_TIMERS
	---help---
		Loongson LS2K0300 SoC, LoongArch 64-bit

endchoice

config ARCH_CHIP
	string
	default "ls2k" if ARCH_CHIP_LS2K0300

config ARCH_LOONGARCH64
	bool
	default y if ARCH_LOONGARCH
	select ARCH_HAVE_STACKCHECK

source "arch/loongarch/src/ls2k/Kconfig"

endif
