#
# LS common peripheral selection options.
#

menu "LS Peripheral Support"

config LS_I2C
	bool

config LS_TIM
	bool

# I2C peripherals

config LS_I2C0
	bool "I2C1"
	depends on LS_HAVE_I2C0
	select LS_I2C
	select I2C

config LS_I2C1
	bool "I2C1"
	depends on LS_HAVE_I2C1
	select LS_I2C
	select I2C

config LS_I2C2
	bool "I2C2"
	depends on LS_HAVE_I2C2
	select LS_I2C

config LS_I2C3
	bool "I2C3"
	depends on LS_HAVE_I2C3
	select LS_I2C

#
#

config LS_I2C0_SLAVE
	bool "I2C0 Slave"
	default n
	depends on !LS_I2C0 && I2C_SLAVE
	select LS_I2C_SLAVE

config LS_I2C1_SLAVE
	bool "I2C1 Slave"
	default n
	depends on !LS_I2C1 && I2C_SLAVE
	select LS_I2C_SLAVE

config LS_I2C2_SLAVE
	bool "I2C2 Slave"
	default n
	depends on !LS_I2C2 && I2C_SLAVE
	select LS_I2C_SLAVE

config LS_I2C3_SLAVE
	bool "I2C3 Slave"
	default n
	depends on !LS_I2C3 && I2C_SLAVE
	select LS_I2C_SLAVE

# TIM peripherals

config LS_TIM1
	bool "TIM1"
	depends on LS_HAVE_TIM1
	select LS_TIM

config LS_TIM2
	bool "TIM2"
	depends on LS_HAVE_TIM2
	select LS_TIM

config LS_TIM6
	bool "TIM6"
	depends on LS_HAVE_TIM6
	select LS_TIM

endmenu # LS Peripheral Support
