comment "LS Configuration Options"

menu "LS Peripheral Support"

config LS_16550_UART
	bool "16550 UART"
	default y
	select 16550_UART
	select ARCH_HAVE_SERIAL_TERMIOS

if LS_16550_UART

config 16550_REGINCR
	int
	default 1

config 16550_REGWIDTH
	int
	default 8

config 16550_ADDRWIDTH
	int
	default 64

endif # LS_16550_UART

source "arch/loongarch/src/ls2k/Kconfig.have"

source "arch/loongarch/src/ls2k/Kconfig.periph"

config LS_RTC
	bool "RTC"
	default n
	select RTC
	select RTC_DATETIME
	select RTC_DRIVER
	select RTC_ARCH
	---help---
		Enable RTC driver support

config LS_PWM
	bool "PWM"
	default n
	select PWM
	---help---
		Enable PWM controller driver support

if LS_PWM

config LS_PWM0
	bool "PWM0"
	default n
	---help---
		Enable PWM0 controller

config LS_PWM1
	bool "PWM1"
	default n
	---help---
		Enable PWM1 controller

config LS_PWM2
	bool "PWM2"
	default n
	---help---
		Enable PWM2 controller

config LS_PWM3
	bool "PWM3"
	default n
	---help---
		Enable PWM3 controller

endif

config LS_SPI
	bool "SPI Flash Controller"
	default n
	select SPI
	---help---
		Enable SPI flash controller driver support

if LS_SPI

config LS_SPI0
	bool "SPI0"
	default n
	---help---
		Enable SPI0 controller

config LS_SPI1
	bool "SPI1"
	default n
	---help---
		Enable SPI1 controller

endif

config LS_WDT
	bool "Watchdog"
	default n
	select WATCHDOG
	---help---
		Enable watchdog timer driver support

config LS_GPIO
	bool "GPIO"
	default n
	select DEV_GPIO
	---help---
		Enable GPIO driver support

endmenu
