comment "LS Configuration Options"

menu "LS Peripheral Support"

config LS_16550_UART
	bool "16550 UART"
	default y
	select 16550_UART
	select ARCH_HAVE_SERIAL_TERMIOS

if LS_16550_UART

config 16550_REGINCR
	int
	default 1

config 16550_REGWIDTH
	int
	default 8

config 16550_ADDRWIDTH
	int
	default 64

endif # LS_16550_UART

source "arch/loongarch/src/ls2k/Kconfig.have"

source "arch/loongarch/src/ls2k/Kconfig.periph"

menu "I2C Configuration"
	depends on LS_I2C
source "arch/loongarch/src/ls2k/Kconfig.i2c"
endmenu # I2C Configuration

config LS_RTC
	bool "RTC"
	default n
	select RTC
	select RTC_DATETIME
	select RTC_DRIVER
	select RTC_ARCH
	---help---
		Enable RTC driver support

config LS_WDT
	bool "Watchdog"
	default n
	select WATCHDOG
	---help---
		Enable watchdog timer driver support

config LS_GPIO
	bool "GPIO"
	default n
	select DEV_GPIO
	---help---
		Enable GPIO driver support

endmenu
