comment "LS Configuration Options"

menu "LS Peripheral Support"

source "arch/loongarch/src/ls2k/Kconfig.have"

source "arch/loongarch/src/ls2k/Kconfig.periph"

config LS_RTC
	bool "RTC"
	default n
	select RTC
	select RTC_DATETIME
	select RTC_DRIVER
	select RTC_ARCH
	---help---
		Enable RTC driver support

config LS_WDT
	bool "Watchdog"
	default n
	select WATCHDOG
	---help---
		Enable watchdog timer driver support

config LS_GPIO
	bool "GPIO"
	default n
	select DEV_GPIO
	---help---
		Enable GPIO driver support

endmenu
